@use "../../styles/mixins" as *;
@use "../../styles/colors" as *;
@use "../../styles/variables" as *;

.right__contents {
  width: 100%;
  height: fit-content;
  background: rgb(240, 240, 240);
  padding: 1.5rem 1rem;
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  h3 {
    text-align: center;
    margin-bottom: 0.7rem;
    margin-top: 1rem;
  }
  .contact__info {
    padding: 0.5rem 0;
    text-align: center;
    border-bottom: 1px dashed rgb(177, 176, 176);
    .contact__info__details {
      h2 {
        @include flexBox(center, center, center);
        gap: 0.3rem;
      }
      p {
        font-size: 1.3rem;
        font-weight: 500;
        padding: 0.4rem 0;
      }
      .contact {
        padding: 0.4rem 0;
        a {
          border: 1px solid #333;
          background: $color-primary;
          border-radius: 0.3rem;
          color: #fff;
          padding: 0.3rem 0.5rem;
          width: fit-content;
          font-weight: 700;
          margin: 1rem 0;
          :first-child {
            font-size: 2rem;
            margin-right: 0.7rem;
          }
          :last-child {
            font-weight: 700;
            font-size: 1.1rem;
          }
        }
      }

      .admin__fallback__icon {
        font-size: 6rem;
      }
      .whatsapp {
        @include flexBox(flex-start, center, row);
        padding: 0.45rem 1.9rem;
        background: #222;
        color: #fff;
        border: 0;
        outline: 0;
        border-radius: 0.3rem;
        font-weight: 700;
        cursor: pointer;
        :first-child {
          font-size: 1.5rem;
          margin-right: 0.2rem;
        }
      }
      .verified__icon {
        position: absolute;
        color: $color-primary;
        font-size: 1.2rem;
      }
    }
    // position: fixed;
    // bottom: 0;
  }
  .rev__wrapper {
    padding: 0.8rem 0;
    border-top: 1px dashed rgb(177, 176, 176);
    box-shadow: $box-shadow-100;
    background: #fff;
    padding: 1rem;
    .rev__head {
      @include flexBox(space-between, center);
      h3 {
        text-align: left;
      }
      span {
        cursor: pointer;
      }
    }
    .add_rev {
      padding-top: 0.6rem;
      border-bottom: 1px dashed rgb(177, 176, 176);
      textarea {
        width: 100%;
        outline: 0;
        border: 0;
        border-bottom: 1px solid #333;
        border-radius: 0.2rem;
        padding: 0.5rem;
      }
      button {
        background: $color-primary;
        color: #fff;
        font-weight: 700;
        border: 0;
        outline: 0;
        border-radius: 0.3rem;
        padding: 0.4rem;
        margin-bottom: 0.6rem;
        cursor: pointer;
      }
    }
    .del__rev {
      cursor: pointer;
    }
  }
  .reviews {
    gap: 0.5rem;
    padding: 1.2rem 0 0.6rem 0;

    .reviewer {
      display: flex;
      gap: 0.4rem;
      padding-bottom: 0.5rem;
      img {
        object-fit: cover;
      }
    }
    b {
      font-size: 0.8rem;
    }
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
    .review {
      font-weight: 600;
    }
  }
  form {
    label {
      @include flexBox(flex-start, center, center);
      gap: 0.7rem;
      border: 1px solid #555;
      border-radius: 0.2rem;
      background: #fff;
      margin-bottom: 0.4rem;
      padding: 0.7rem;
      :first-child {
        margin-left: 0.4rem;
      }
      input,
      textarea {
        border: 0;
        outline: 0;
        margin-bottom: 0;
        background: transparent;
      }
      textarea {
        font-family: "Figtree", sans-serif;
        line-height: 1.7;
        word-spacing: 0.2rem;
        width: 100%;
        font-size: 1rem;
      }
    }
    button {
      @include button();
      border-radius: 0.2rem;
      background: $color-secondary;
      color: #000;
      width: 100%;
      margin-bottom: 0.6rem;
      font-weight: 700;
    }
  }
}
