@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200&display=swap");
* {
  font-family: "Nunito", sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  color: #333;
  text-decoration: none;
}
a.active {
  font-weight: 700;
  /* border-bottom: 4px solid #000; */
  background: #333;
  color: #fff;
  padding: 0.5rem;
  border-radius: 0.3rem;
}
.loader {
  position: absolute;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 1;
}
/* .loader::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.7;
  z-index: -1;
} */

.Toastify__toast--error {
  border: 1px solid #eb5757;
  border-radius: 10px !important;
  background: #fae1e2 !important;
  z-index: 100000 !important;
}
.Toastify__toast--error::after {
  content: url("../assets/images/svg/closeToast.svg");
  position: absolute;
  color: #333333;
  font-size: 15px;
  font-weight: 700;
  left: 265px;
  z-index: 100000 !important;
  padding-top: 14px !important;
}
.Toastify__toast--error::before {
  content: url("../assets/images/svg/errorToast.svg");
  position: relative;
  z-index: 100000 !important;
  left: 12px;
  top: 6px;
}
.Toastify__toast--success {
  border: 1px solid #3a9ea5 !important;
  border-radius: 10px !important;
  background: #f0f9fa !important;
  z-index: 100000 !important;
}
.Toastify__toast--success::before {
  content: url("../assets/images/svg/successToast.svg");
  position: relative;
  z-index: 100000 !important;
  left: 12px;
  top: 6px;
}
.Toastify__toast--success::after {
  content: url("../assets/images/svg/closeToast.svg");
  position: absolute;
  color: #333333;
  font-size: 15px;
  font-weight: 700;
  left: 265px;
  z-index: 100000 !important;
}
.Toastify__toast--warning {
  border: 1px solid #e78326 !important;
  border-radius: 10px !important;
  background: #fadfc5 !important;
  z-index: 100000 !important;
}
.Toastify__toast--warning::before {
  content: url("../assets/images/svg/warnToast.svg");
  position: relative;
  z-index: 100000 !important;
  left: 12px;
  top: 6px;
}
.Toastify__toast--warning::after {
  content: url("../assets/images/svg/closeToast.svg");
  position: absolute;
  color: #e78326;
  font-size: 15px;
  font-weight: 700;
  left: 265px;
  z-index: 100000 !important;
}
.Toastify__toast-body {
  color: #444c63;
  font-size: 16px;
  padding-left: 20px;
  line-height: 20px;
  padding: 0px;
  width: 100%;
  font-weight: 400;
  margin-left: 25px !important;
  z-index: 100000 !important;
}
.Toastify__toast > button > svg {
  display: none;
}
